<head> </head>
<body>
  <!-- <h2>Under maintainence...</h2> -->
  <p style="color:white">Under maintainence...</p>

  <div class="row">
    <div class="column">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/1025px-Instagram-Icon.png"
        alt="instagram"
        style="height:50%;width:50%"
      />
    </div>

    <div class="column">
      <img
        src="https://t4.ftcdn.net/jpg/03/00/24/59/240_F_300245953_Svih1DYJbw4v2t92EhDOTwW4LIqMghmy.jpg"
        alt="facebook"
        style="height:50%;width:50%"
      />
    </div>

    <div class="column">
      <img
        src="https://t3.ftcdn.net/jpg/03/04/55/12/240_F_304551232_OwTLSaAoFYDZqahtE9WRkKIoc28nXscm.jpg"
        alt="twitter"
        style="height:50%;width:50%"
      />
    </div>

    <div class="column">
      <img
        src="https://icon-library.com/images/hangouts-icon/hangouts-icon-11.jpg"
        alt="hangouts"
        style="height:50%;width:50%"
      />
    </div>
  </div>
</body>
