<div class="card">
  <div class="row">
    <br />
    <div class="column">
      <a
        style="color:grey"
        href="javascript:void(0)"
        onclick="window.open( 'https://www.instagram.com/hikewithabhijeet', 'sharer', 'toolbar=0, status=0, width=626, height=436');"
        title="Contact card"
      >
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/1025px-Instagram-Icon.png"
          alt="instagram"
          style="height:50%;width:50%"
      /></a>
    </div>

    <div class="column">
      <a
        style="color:grey"
        href="javascript:void(0)"
        onclick="window.open( 'https://www.facebook.com/abhijeetd01', 'sharer', 'toolbar=0, status=0, width=626, height=436');"
        title="Contact card"
      >
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png"
          alt="facebook"
          style="height:50%;width:50%"
      /></a>
    </div>

    <div class="column">
      <a
        style="color:grey"
        href="javascript:void(0)"
        onclick="window.open( 'https://twitter.com/abhijeetd720', 'sharer', 'toolbar=0, status=0, width=626, height=436');"
        title="Contact card"
      >
        <img
          src="https://t3.ftcdn.net/jpg/03/04/55/12/240_F_304551232_OwTLSaAoFYDZqahtE9WRkKIoc28nXscm.jpg"
          alt="twitter"
          style="height:50%;width:50%"
      /></a>
    </div>

    <div class="column">
      <a
        style="color:grey"
        href="javascript:void(0)"
        onclick="window.open( 'https://mail.google.com/chat/u/0/?hl=en#chat/welcome', 'sharer', 'toolbar=0, status=0, width=626, height=436');"
        title="Contact card"
      >
        <img
          src="https://icon-library.com/images/hangouts-icon/hangouts-icon-11.jpg"
          alt="Google chat"
          style="height:50%;width:50%"
      /></a>
    </div>
    <br />
  </div>
  <!-- <h2 style="color:white">Under maintainence...</h2> -->
</div>
