<body>
  <h2 style="text-align:center,color:white">E mail:</h2>

  <div class="card">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Google_Contacts_icon.svg/1024px-Google_Contacts_icon.svg.png"
      alt="Abhijeet"
      style="width:100%;border-radius: 50%;"
    />
    <a style="color:grey" href="abhijeetd720@gmail.com"
      >abhijeetd720@gmail.com
    </a>
    <p class="title"><b>Mob: +91-8809406316</b></p>
    <!-- <p>Senior Frontend</p> -->
    <div style="margin: 24px 0;">
      <a href="https://www.dribble.com"><i class="fa fa-dribbble"></i></a
      ><i>" "</i>
      <a href="https://twitter.com/abhijeetd720"
        ><i class="fa fa-twitter"></i></a
      ><i>" "</i>
      <a href="https://www.linkedin.com/in/0001abhijeet/"
        ><i class="fa fa-linkedin"></i></a
      ><i>" "</i>
      <a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
    </div>
    <!-- <p><button routerLink="/contact">Contact</button></p> -->
  </div>
</body>
