.companyName {
  font-size: 100%;
}

.mat-toolbar {
  height: 7vh;
}

div {
  overflow: inherit;
}

a {
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button {
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.span {
  background: rgba(0, 0, 0, 0);
  text-align: justify;
}
.example-container {
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-sidenav {
  width: 250px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
  flex-grow: 0;
  background: rgba(238, 238, 238, 0);
  padding: 3px 3px;
  color: #ddd;
}
