<!-- <a mat-button routerlink="/amazon">Amazon</a>
<a mat-button routerlink="/google">Google</a> -->
<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon><b>|||</b></mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span>WRAP</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/about-us">About us</a>
      <a mat-button routerLink="/start-page">Home</a>
      <a mat-button routerLink="/contact">Contact</a>
      <a mat-button routerLink="/login">Logout</a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav
      color="primary"
      #sidenav
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
    >
      <div fxLayout="column">
        <a mat-button routerLink="/prices">Prices</a>
        <a mat-button routerLink="/offer">Offer</a>
        <a mat-button routerLink="/site">Site</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill></mat-sidenav-content>
  </mat-sidenav-container>
</div>
<router-outlet></router-outlet>
