<div>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
</div>

<body>
  <h2 style="text-align:center">" "</h2>
  <div class="card">
    <img
      src="https://media-exp1.licdn.com/dms/image/C4D03AQGDpQxJe_eHKQ/profile-displayphoto-shrink_800_800/0/1658125283403?e=1665014400&v=beta&t=AniP9krlxt8Vx9aWz9brtXIGlRLQx6QutoeABWlwUeA"
      alt="Abhijeet"
      style="width:100%;border-radius: 50%;"
    />
    <h1 style="color:grey">Abhijeet Das</h1>
    <p class="title">Senior Software Developer</p>
    <!-- <p>Senior Frontend</p> -->
    <div style="margin: 24px 0;">
      <a href="https://www.dribble.com"><i class="fa fa-dribbble"></i></a
      ><i>" "</i>
      <a href="https://twitter.com/abhijeetd720"
        ><i class="fa fa-twitter"></i></a
      ><i>" "</i>
      <a href="https://www.linkedin.com/in/0001abhijeet/"
        ><i class="fa fa-linkedin"></i></a
      ><i>" "</i>
      <a href="facebook.com"><i class="fa fa-facebook"></i></a>
    </div>
    <p><button  href=''>Profile</button></p>
  </div>
</body>
