<div>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
</div>

<body>
  <h2 style="text-align:center">" "</h2>
  <div class="card">
    <img
      src="https://media-exp1.licdn.com/dms/image/C4D03AQGDpQxJe_eHKQ/profile-displayphoto-shrink_800_800/0/1658125283403?e=1665014400&v=beta&t=AniP9krlxt8Vx9aWz9brtXIGlRLQx6QutoeABWlwUeA"
      alt="Abhijeet"
      style="width:100%;border-radius: 50%;"
    />
    <h1 style="color:white">Abhijeet Das</h1>
    <p class="title"><b>Senior Software Developer</b></p>
    <!-- <p>Senior Frontend</p> -->
    <div style="margin: 24px 0;">
      <a
        style="color:grey"
        href="javascript:void(0)"
        onclick="window.open( 'https://dribbble.com/dasabhijeet_01', 'sharer', 'toolbar=0, status=0, width=626, height=436');"
        title="Contact card"
        ><i class="fa fa-dribbble"></i></a
      ><i>" "</i>
      <a
        style="color:grey"
        href="javascript:void(0)"
        onclick="window.open( 'https://twitter.com/abhijeetd720', 'sharer', 'toolbar=0, status=0, width=626, height=436');"
        title="Contact card"
        ><i class="fa fa-twitter"></i></a
      ><i>" "</i>
      <a
        style="color:grey"
        href="javascript:void(0)"
        onclick="window.open( 'https://www.linkedin.com/in/0001abhijeet/', 'sharer', 'toolbar=0, status=0, width=626, height=436');"
        title="Contact card"
        ><i class="fa fa-linkedin"></i></a
      ><i>" "</i>
      <a
        style="color:grey"
        href="javascript:void(0)"
        onclick="window.open( 'https://www.facebook.com/abhijeetd01', 'sharer', 'toolbar=0, status=0, width=626, height=436');"
        title="Contact card"
        ><i class="fa fa-facebook"></i
      ></a>
    </div>
    <p>
      <button
        href="javascript:void(0)"
        onclick="window.open( 'https://www.linkedin.com/in/0001abhijeet/overlay/contact-info/', 'sharer', 'toolbar=0, status=0, width=626, height=436');"
        title="Contact card"
      >
        Connect
      </button>
    </p>
  </div>

  <div class="card-about">
    <p style="color:grey">
      Abhijeet holds 3+ years of experience in the IT industry, served clients
      across multiple domains. Worked with Senior Specialist Developers and
      Solution Designers in client side representing his team. Contributed to
      the R&D projects. Involves the online training, assessment and learning
      platform - 'Infosys Wingspan', formerly known as Infosys Lex.<br />
      Abhijeet holds a practitioner tag for Red Hat products, titled as "Red Hat
      Ascend Champion" in Cloud Native Application Development , Red Hat Open
      shift - tagged as "Open Ninja " by Red Hat Inc. to Infosys Open-source
      practice.<br />
      Experienced in User Experience design (UCD/UX) and front end development
      frameworks . Experienced working with the Senior Management. Leading
      several DC initiatives and strategy planning tasks. Resource planning for
      business process with unit level delivery accounts with HRD
    </p>
    <button
      href="javascript:void(0)"
      onclick="window.open( 'https://www.github.com/abhijeetd01', 'sharer', 'toolbar=0, status=0, width=626, height=436');"
      title="Contact card"
    >
      Github.com/abhijeetDas
    </button>
  </div>
</body>
